Thumbs.db
.DS_Store
.gradle
build/
target/
out/
.micronaut/
.idea
*.iml
*.ipr
*.iws
.project
.settings
.classpath
.factorypath

# Python AI
AI/src/main/python/ai/.venv/
AI/src/main/python/ai/__pycache__/
*.pyc
